<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
<!-- font-family: 'Akaya Kanadaka', cursive; -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
<!-- font-family: 'Noto Sans JP', sans-serif; -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<!-- font-family: 'Satisfy', cursive; -->
<body>
    
    <nav class="navbar">
       <a href="/account"><h1 style="font-family: 'Satisfy', cursive; ">Kadev</h1></a> 
        <input type="text" placeholder="Search">
        <ul>
            
            <li><a href="/account"><img id="one" src="images/icons8-home-48.png" alt=""></a></li>
            <li><a href="/profile"><img id="two" src="images/icons8-love-96.png" alt=""></a></li>
            <li><a href="/upload"><img id="three" src="/images/upload--v2.png" alt=""></a></li>
            <li><a href="/logout"><img id="four" src="/images/icons8-logout-rounded-up-30.png" alt=""></a></li>
        </ul>
    </nav>
    <div class="con">
        <% if(photo.length>0){%>
            <% photo.forEach(function(row){%>
                <img src="/profiles/<%=row.imagename%>" alt="">
                <%})}%>
                    <div class="content">
                        <div class="box">
                            <% if(user){%>
                                <h2>
                                    <%=user%>
                                </h2>
                                <%}%>
                                <button><a href="/add">edit profile</a></button> 


                                    <img src="images/download.png" alt="" id="sett">
                        </div>
                        <div class="box">
                            <p>
                                <%=records.length%> Posts
                            </p>
                            <p>1000 followers</p>
                            <p>200 following</p>
                        </div>
                        <div class="box">
                            <h3><%=na%></h3>
                        </div>
                        <div class="box">
                            <strong>
                             
                            </strong>
                        </div>
                       
                    </div>

    </div>
    <div class="flex">


    <div class="con2">
        <div class="boxe">
            <p> <a href="">Posts</a></p>
            <p> <a href="">Reels</a></p>
            <p> <a href="">IGTV</a></p>
            <p> <a href="">Saved</a></p>
            <p> <a href="">Tags</a></p>

        </div>
        <div class="image">

            <% if(records.length>0){%>
                <% records.forEach(function(row){%>

                    <button><a href="account/delete/<%= row._id%>">delete</a></button>



                    <img src="./uploads/<%= row.imagename%>" alt="">

                    <%})}%>
        </div>
    </div>
</div>
</body>

</html>
</body>

</html>